/* tail wind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* our general css */
html {
  scroll-behavior: smooth;
}

/* nav styling */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 30px;
}

.nav-link {
  color: #fff;
  background-color: #262626;
  margin: 0 10px;
  padding: 15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform 0.1s ease, box-shadow 0.1s ease, margin 0.1s ease;
}

.nav-link:hover {
  color: #fff;
  transform: scale(2);
  margin: 0 20px;
  box-shadow: 5px -5px 28px #f1f1f1, -5px 5px 28px #ffffff;
}

.nav-link.active {
  @apply font-bold border-4 border-white;
}

/* Show hamburger menu */
.nav-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  text-align: right;
  padding: 0 7px;
  border-radius: 20px;
}
.nav-toggle:hover {
  box-shadow: 9px 9px 30px #008080, -9px -9px 30px #06539a;
}

.nav-links {
  display: flex;
  gap: 10px;
}

/* sections */

.intro {
  max-width: 1000px;
  margin: 100px 100px;
  border-radius: 30px;
  padding: 30px 50px;
  box-shadow: 9px 9px 30px #008080, -9px -9px 30px #06539a;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

/* Individual Social Button Styling */
.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  color: white;
  font-size: 24px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.3s ease;
  text-decoration: none; /* Remove underline */
}

/* Hover Effect */
.social-button:hover {
  background-color: #008080;
  transform: scale(1.5);
  box-shadow: 5px 5px 25px #008080, -5px -5px 25px #06539a;
}
.img {
  margin-top: 35px;
  border-radius: 30px;
  box-shadow: 9px 9px 30px #06539a, -9px -9px 30px #06539a;
  height: 200px;
  width: 200px;
}
.img img {
  border-radius: 30px;
  height: auto;
  width: auto;
}

.skills {
  border-radius: 30px;
  box-shadow: 9px 9px 30px #008080, -9px -9px 30px #06539a;
}
.skill-button {
  @apply px-6 py-3 rounded-lg text-white font-medium transition-colors duration-300 ease-in-out;
}
.skill-button:hover {
  @apply bg-teal-600;
}
.skill-button:focus {
  @apply outline-none ring-2 ring-teal-400;
}

/* Columns style */
.skill-column {
  @apply flex flex-col gap-4;
}

/* light mode style */
/* light nav-bar */
html.light-mode nav {
  @apply bg-white bg-opacity-30;
}

html.light-mode .nav-link {
  @apply bg-white text-gray-800;
}

html.light-mode .nav-link:hover {
  @apply bg-white text-gray-900;
  box-shadow: 5px -5px 28px #0d0d0d, -5px 5px 28px #000;
}

html.light-mode .nav-link.active {
  @apply border-black;
}

html.light-mode .intro {
  @apply bg-white text-gray-950;
}
html.light-mode .intro p {
  @apply text-gray-800;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .intro {
    flex-direction: column;
    margin: 50px;
    padding: 20px;
  }

  .img {
    margin-top: 20px;
    margin-left: 0;
    max-width: 200px;
    align-self: center; /* Center image below the content */
  }

  @media (min-width: 768px) {
    .intro {
      flex-direction: row; /* Start moving the image to the side */
      justify-content: space-between;
    }

    .img {
      margin-top: 0;
      margin-left: 20px; /* Gradual movement to the right */
      align-self: flex-start; /* Align to the top of the section */
    }
  }
}

@media (max-width: 720px) {
  .intro {
    margin: 20px;
    padding: 20px;
  }

  .img {
    margin-top: 20px;
    margin-left: auto; /* Center the image below */
    margin-right: auto;
    display: block; /* Ensure it's below the content */
  }
}

/* Media query for smaller screens */
@media (max-width: 720px) {
  .nav-links {
    display: none; /* Hidden by default */
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    z-index: 1000;
    background-color: #000;
    border-radius: 50px;
    opacity: 90%;
  }

  .nav-links.show {
    display: flex; /* Show when toggled */
  }

  .nav-toggle {
    display: block; /* Show hamburger menu */
  }
}
