/* tail wind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* our general css */

html {
  scroll-behavior: smooth;
}

/* nav styling */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 30px;
}

.nav-link {
  color: #fff;
  background-color: #262626;
  margin: 0 10px;
  padding: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.1s ease;
}

.nav-link:hover {
  color: #fff;
  transform: scale(2);
  margin: 0 20px;
  box-shadow: 5px -5px 28px #f1f1f1, -5px 5px 28px #ffffff;
}

.nav-link.active {
  @apply font-bold border-4 border-white;
}

/* sections */

.intro {
  margin: 100px 100px;
  border-radius: 30px;
  padding: 30px 50px;
  box-shadow: 9px 9px 30px #008080, -9px -9px 30px #06539a;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.social-links,
a {
  font-size: 20px;
  margin: 10px 2px;
}
.img {
  margin-top: 35px;
  border-radius: 30px;
  box-shadow: 9px 9px 30px #06539a, -9px -9px 30px #06539a;
  height: 200px;
  width: 200px;
}
.img img {
  border-radius: 30px;
}

/* light mode style */

/* light nav-bar */
html.light-mode nav {
  @apply bg-white bg-opacity-30;
}

html.light-mode .nav-link {
  @apply bg-white text-gray-800;
}

html.light-mode .nav-link:hover {
  @apply bg-white text-gray-900;
  box-shadow: 5px -5px 28px #0d0d0d, -5px 5px 28px #000;
}

html.light-mode .nav-link.active {
  @apply border-black;
}

html.light-mode .intro {
  @apply bg-white text-gray-950;
}
html.light-mode .intro p{
  @apply text-gray-800;
}
